<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Bienvenido, <%= @user.nombre %> <%= @user.apellido1 %></h1>
<p>
  Tu registro ha sido realizado satisfactoriamente. <br/>
  Usuario: <%= @user.usuario%> <br/>
  Email <%= @user.email %>
</p>

</body>
</html>