<%= form_for :account, url: account_login_path do |f| %>

    <p>
      <strong>Nombre de usuario:</strong><br>
      <%= f.text_field :usuario %>
    </p>

    <p>
      <strong>Contrase&ntilde;a:</strong><br>
      <%= f.password_field :password %>
    </p>

    <p>
      <%= f.submit "Log in" %>
    </p>
<% end %>